:root {
  /* Theme Colors */
  --primary: #005588;
  --success: #5a8e18;
  --error: #c00000;
  --lightsuccess: #90ee90;
  --lighterror: #ff6868;
  --gradient1: #ff9b12;
  --gradient2: #e54c00;
  --shadow: #9d9d9d;
  --background: #f2f2f4;
  --background2: #add8e6;
  --border: #d5d4d6;
  --orange: #ff9b12;
  --white: #ffffff;
  --black: #000000;
  --gray: #808080;
  /* Chart Colors */
  --barColor1: #005b7f;
  --barColor2: #5587c0;
  --barColor3: #7cc3e2;
  --barColor4: #78be20;
  --barColor5: #4371c4;
  --barColor6: #ed7d31;
  --barColor7: #a4a4a4;
  --barColor8: #d7d1d1;
  --textColor: #1488f5;
  --stroke: #cae7ff;
}

/* AppBar.tsx */
.ab-container {
  background: var(--orange);
  background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 50%);
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: normal;
  align-items: center;
}
.ab-menu {
  padding: 0px 10px;
  color: var(--white);
}
.ab-menu-selected {
  padding: 0px 10px;
  color: var(--white);
  height: 92%;
  display: flex;
  align-items: center;
  border-bottom: solid var(--gray) 3px;
}
/* End - AppBar.tsx */

/* BottomNavigation.tsx */
.bn-container {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bn-nav {
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* End - BottomNavigation.tsx */

/* CardContainer.tsx */
.cc-child {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.cc-container {
  flex: 8;
  width: 100%;
  display: flex;
}
/* End - CardContainer.tsx */

/* ChartView.tsx */
.cv-btn {
  width: 160px;
  font-size: 11px;
  color: var(--primary);
  border: solid var(--primary) 1px;
}
.cv-btn-container {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-top: 4px;
}
.cv-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 28%;
  width: 98%;
  box-shadow: var(--shadow) 0px 0px 2px 3px;
  border-radius: 2px;
}
.cv-selected {
  background-color: var(--primary);
  color: var(--white)
}
/* End - ChartView.tsx */

/* CustomTable.tsx */
.ct-container {
  height: 46%;
  width: 98%;
  box-shadow: var(--shadow) 0px 0px 2px 3px;
  border-radius: 2px;
  overflow: auto;
  user-select: none;
}
.ct-data {
  display: flex;
  align-items: center;
}
.ct-htr {
  color: var(--gray);
  font-size: 11px;
}
.ct-table {
  width: 100%;
  border-top: solid var(--shadow) 1px;
  border-bottom: solid var(--shadow) 1px
}
.ct-title {
  font-weight: 500;
  width: 75%;
  margin-left: 12px;
  font-size: medium;
  display: flex;
  align-items: center;
}
/* End - CustomTable.tsx */

/* HomeContainer.tsx */
.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
/* End - HomeContainer.tsx */

/* InfoBar.tsx */
.ib-container {
  flex: 1.5;
  width: 100%;
  background-color: var(--background);
  box-shadow: 1px 1px 1px 1px var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ib-left {
  background-color: var(--background2);
}
/* End - InfoBar.tsx */

/* Layout.tsx */
.container {
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
  width: 100vw
}
.child {
  height: 100%;
}
/* End - Layout.tsx */

/* RightInfoBar.tsx */
.rib-acts {
  flex: 2;
  border-right: solid var(--border) 1px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center
}
.rib-arr {
  width: 0; 
  height: 0; 
  border-left: 7vh solid transparent;
  border-right: 7vh solid transparent;
}
.up {
  border-bottom: 7vh solid var(--success);
}
.down {
  border-top: 7vh solid var(--error);
}
.rib-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rib-child {
  flex: 1;
  height: 100%;
  width: 50%;
}
.rib-container {
  display: flex;
  justify-content: normal;
  align-items: center;
  height: 100%;
  width: 100%;
}
.rib-count {
  font-weight: 700;
  font-size: 4vh;
  width: 100%;
  display: flex;
  justify-content: center
}
.rib-green {
  color: var(--success)
}
.rib-red {
  color: var(--error)
}
.rib-date {
  color: var(--gradient2);
  text-decoration: underline;
}
.rib-detail {
  flex: 1;
  height: 100%;
  padding: 2px 4px
}
.rib-ico {
  opacity: 0.5;
  padding: 6px 12px;
}
.rib-img {
  height: auto;
  width: 4vw;
  padding: 0px 4px
}
.fullwidth {
  width: 100%;
}
/* End - RightInfoBar.tsx */

/* SelectedSiteNames */
.ssn-container {
  height: 30%;
  width: 98%;
  box-shadow: var(--shadow) 0px 0px 2px 3px;
  border-radius: 2px
}
.ssn-chart {
  height: 60%;
  margin: 0px 10px;
}
.ssn-footer {
  font-size: 11px;
  font-weight: 600;
  padding-left: 10px;
  color: var(--primary);
}
.ssn-score {
  font-size: 9px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ssn-score-container {
  display: flex;
  justify-content: space-evenly
}
.ssn-score-left {
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
}
.ssn-score-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ssn-score-title {
  color: var(--primary);
  font-size: 8px;
  font-weight: 600;
  padding-right: 4vw;
}
.ssn-title {
  color: var(--primary);
  white-space: nowrap;
  font-size: 12px;
  text-overflow: ellipsis;
  font-weight: 600;
}
.ssn-titlebar {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px 0px 10px;
  align-items: center;
  flex-wrap: nowrap;
}
/* End - SelectedSiteNames */

/* SiteNames.tsx */
.sn-container {
  height: 30%;
  width: 98%;
  box-shadow: var(--shadow) 0px 0px 2px 3px;
  border-radius: 2px;
  overflow: auto;
}
.sn-btd {
  user-select: none;
  color: var(--black);
}
.sn-btd-link {
  background-color: var(--white);
}
.sn-btd-selected {
  user-select: none;
  color: var(--white)
}
.sn-btr {
  background-color: var(--white); 
}
.sn-btr-selected {
  background-color: var(--primary); 
}
.sn-htd {
  background-color: var(--white);
  color: var(--primary);
}
.sn-htr {
  background-color: var(--primary);
  color: white;
  text-align: center;
}
.sn-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sn-table {
  width: 100%;
  font-size: 10px;
  padding: 4px;
}
/* End-SiteNames.tsx */